{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}
    سبد خرید
{% endblock title %}

{% block styles %}
    <style>
        h1{
            font-weight: bold;
        }
        form{
            max-width: 500px;
        }
    </style>
{% endblock %}

{% block content %}
    {% if cart.is_empty %}
        <div style="padding-bottom: 300px;padding-top: 180px" class="container text-center bg-danger">
            <h2 class="h2 text-warning">سبد خرید شما خالیست</h2>
        </div>
    {% else %}
        <div style="padding-bottom: 300px" class="container">
            <h1 style="margin-top: 15px;font-size: 25px;" class="text-center text-info">سبد خرید شما</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">عکس</th>
                        <th scope="col">دوره</th>
                        <th scope="col">حذف</th>
                        <th scope="col">قیمت</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart %}
                      {% with course=item.course  %}
                        <tr>
                            <td>
                                <a href="{{course.get_absolute_url}}">
                                    <img style="border-radius: 5px" class="rounded-lg shadow" src="{{course.image.url}}" height="100" width="100" alt="">
                                </a>
                            </td>
                            <td>{{course.title}}</td>
                            <td>
                                <form action="{% url 'cart_remove' course.id %}" method="POST">
                                    <button type="submit" class="btn btn-danger"><i class="zmdi zmdi-delete"></i></button>
                                    {% csrf_token %}
                                </form>
                            </td>
                            <td>{% if item.price %}{{item.price}}{% else %}رایگان{% endif %}</td>
                        </tr>
                      {% endwith %}
                    {% endfor %}
                    <tr style="font-weight: bold;color: red;">
                        <td>مجموع</td>
                        <td colspan="2"></td>
                        <td>{{cart.get_total_price}}</td>
                    </tr>
                </tbody>
            </table>
            <p>
                <a href="{% url 'course_list' %}" class="btn btn-primary">دوره ها</a>
                <a href="{% url 'order_create' %}" class="btn btn-success">پرداخت</a>
            </p>
        </div>
    {% endif %}
{% endblock content %}