{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="p-5">
        <h1>{% trans "Password Reset" %}</h1>

        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>ما برای شما یک ایمیل فرستادیم. اگر آن را دریافت نکرده اید، لطفاً پوشه اسپم خود را بررسی کنید. در غیر این صورت اگر ظرف چند دقیقه آن را دریافت نکردید با ما تماس بگیرید</p>
        <a class="btn btn-primary" href="{% url 'login' %}">بازگشت به صفحه لاگین</a>
    </div>

{% endblock %}