{% extends 'base.html' %}
{% load static %}
{% load jalali_tags %}

{% block title %}
    profile
{% endblock %}

{% block content %}
        <main>
            <div class="container">
                <div class="user-account">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <aside>
                                <div class="avatar-layer">
                                    <div class="img-layer">
                                        <a href="{% url 'update_profpic' %}" class="change-image"><i class="zmdi zmdi-edit"></i></a>
                                        <img src="{% if user.profile.image.url %}{{ user.profile.image.url }}{% else %}{% static "images/pic/avatar.jpg" %}{% endif %}">
                                    </div>
                                    <div class="detail">
                                        <span> {{ user.username }} </span>
                                        <span> عضویت : {{ user.register_date|to_jalali:'%Y/%m/%d'}} </span>
                                    </div>
                                </div>

                                <section>
                                    <header><h3> میز کار </h3></header>
                                    <div class="inner">
                                        <ul>
                                            <li><a href="{% url 'profile' %}"> مشاهده حساب کاربری </a></li>
                                            <li><a href="{% url 'user_courses' %}"> مشاهده دوره های خریداری شده </a></li>
                                            <li><a href="{% url 'update_user' %}"> ویرایش حساب کاربری </a></li>
                                            <li><a href="{% url 'update_pass' %}"> تغییر رمز عبور </a></li>
                                            <li><a href="{% url 'logout' %}"> خروج از حساب کاربری </a></li>
                                        </ul>
                                    </div>
                                </section>
                            </aside>
                        </div>
                        <div class="col-md-9 col-sm-8 col-xs-12">
                            <section class="user-account-content">
                                <header><h1> داشبورد </h1></header>
                                <div class="inner">
                                    <div class="account-information">
                                        <h3> اطلاعات کاربری </h3>
                                        <ul>
                                            {% if user.get_full_name %}
                                                <li> <i class="zmdi zmdi-account"></i> نام و نام خانوادگی : {{ user.get_full_name}} </li>
                                            {% endif %}
                                            <li> <i class="zmdi zmdi-assignment-account"></i> نام کاربری : {{ user.username }} </li>
                                            <li> <i class="zmdi zmdi-email"></i> ایمیل : {{ user.email }} </li>
                                            <li> <i class="zmdi zmdi-calendar-check"></i> تاریخ عضویت : {{ user.register_date|to_jalali:'%Y/%m/%d'}} </li>
                                            {% if user.phone_number %}
                                                <li> <i class="zmdi zmdi-smartphone-android"></i> شماره تماس : {{ user.phone_number }} </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}
