{% extends 'base.html' %}

{% block title %}
    register
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/brands.min.css" integrity="sha512-bSncow0ApIhONbz+pNI52n0trz5fMWbgteHsonaPk42JbunIeM9ee+zTYAUP1eLPky5wP0XZ7MSLAPxKkwnlzw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        img{
            margin-bottom: 10px;
        }
        .invalid-feedback {
            color: red;
        }
    </style>
{% endblock %}

{% block content %}
        <main class="client-page">
            <div class="container-content">

                <header><h2> عضویت در سایت </h2></header>

                <div class="form-layer">

                    <form action="{% url 'signup' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <span class="input-group-addon" id="username"><i class="zmdi zmdi-account"></i></span>
                            <input type="text" name="username" class="form-control" placeholder="نام کاربری" aria-describedby="username">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                            <input name="email" type="text" class="form-control" placeholder="ایمیل" aria-describedby="email-address">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                            <input name="password" type="password" class="form-control" placeholder="رمز عبور " aria-describedby="password">
                        </div>

                        <div class="input-group">
                            {% load crispy_forms_filters %}
                            {{ form|crispy }}
                        </div>

                        <div class="link">
                            <a href="{% url 'login' %}"> <i class="zmdi zmdi-account"></i> ورود به سایت </a>
                        </div>
                        <button type="submit" class="btn btn-primary"> عضویت در سایت </button>
                        <div style="width: 100%;margin-top: 20px">
                            {% load socialaccount %}
                            <a class="btn btn-primary" href="{% provider_login_url 'google' %}"><i class="zmdi zmdi-google"></i> ادامه با گوگل</a>
                            <a class="btn btn-primary" href="{% provider_login_url 'github' %}"><i class="zmdi zmdi-github"></i> ادامه با گیت هاب</a>
                            <a class="btn btn-primary" href="{% provider_login_url 'discord' %}"><i class="fa-brands fa-discord"></i> ادامه با دیسکورد</a>
                        </div>
                    </form>
                </div>

            </div>
        </main>
{% endblock %}